services:
  db:
    image: postgres:14-alpine
    container_name: Finalproy1_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: Finalproy1_dev
    ports:
      - '5435:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
